.heading-color {
  font-size: 2.8em;
  color: #ff5722;
  margin-top: 40px;
  padding: 20px;
}

.sub-heading-color {
  color: #ff5722;
  font-weight: bold;
}

.date {
  color: #f44336;
  font-weight: bold;
}

.p-tag {
  font-size: 18px;
}

.info-para {
  font-size: 18px;
  font-weight: 400;
}

.member-titles {
  font-weight: 500;
}

.img-size {
  width: 450px;
  margin: 10px;
}

.img-logo {
  width: 250px;
  padding: 20px;
  margin: 20px;
}

.top-img {
  width: 600px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .img-size {
    width: 200px;
  }
  .img-h {
    width: 200px;
  }
  .text-left-custom {
    text-align: left;
  }
  .custom-margin {
    margin-left: 40px;
  }
  .info-para-name {
    font-size: small;
  }
  .img-logo {
    width: 150px;
  }
  top-img {
    width: 300px;
    height: 300px;
  }
}
